<p class="text-xs text-neutral-500 dark:text-neutral-400">Dahi, All rights reserved.</p>
<p class="text-xs text-neutral-500 dark:text-neutral-400">
  <span id="site-stats"></span>
  <span>&nbsp;·&nbsp;</span>
  <span id="htmer_time"></span>
</p>
<script defer src="https://p.yu.ac.cn/assets/js/general-foot.js" crossorigin="anonymous"></script>

<p class="text-xs text-neutral-500 dark:text-neutral-400">
  <span id="s2t-toggle" class="inline-flex">
    <span data-s2t="hant" class="cursor-pointer transition-colors hover:text-primary-500 font-semibold">繁體</span>
    <span class="text-neutral-400">&nbsp;|&nbsp;</span>
    <span data-s2t="hans" class="cursor-pointer transition-colors hover:text-primary-500">简体</span>
  </span>
</p>

<p class="text-xs text-neutral-500 dark:text-neutral-400" id="sponsors">
  <a href="https://vps.town/" target="_blank"><img src="https://vps.town/static/images/sponsor.png" alt="sponsor" style="height: 60px"></a>
  本站点及其附属网络服务内容由 <a href="https://vps.town/" target="_blank" class="hover:underline hover:decoration-primary-400 hover:text-primary-500 font-semibold">VPS.Town</a> 提供赞助。
</p>

<p class="text-xs text-neutral-500 dark:text-neutral-400">萌号 : <a href="https://icp.gov.moe/?keyword=20252033" target="_blank">20252033</a> <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500" href="https://icp.gov.moe/?keyword=20252033" target="_blank">查询</a></p>
<p class="text-xs text-neutral-500 dark:text-neutral-400">本网站代码已开源于 <a href="https://github.com/dahisea/blowfi" target="_blank">GitHub</a></p>