<p class="text-xs text-neutral-500 dark:text-neutral-400">Dahi, All rights reserved.</p>
<p class="text-xs text-neutral-500 dark:text-neutral-400" id="site-stats"></p>
<script src="https://oxs.dahi.icu/assets/js/general-foot.js" crossorigin="anonymous"></script>
<p id="api-data" class="text-xs text-neutral-500 dark:text-neutral-400">少女祈祷中...</p>
<p class="text-xs text-neutral-500 dark:text-neutral-400">序幕展開<span id="htmer_time"></span></p>

<!-- Sponsors Section -->
<p class="text-xs text-neutral-500 dark:text-neutral-400" id="sponsors">
  <img src="https://vps.town/static/images/sponsor.png" alt="sponsor" style="vertical-align: middle; height: 1em; margin-right: 0.25em;">
  本站点及其附属网络服务内容由 <a href="https://vps.town/" target="_blank" class="hover:underline hover:decoration-primary-400 hover:text-primary-500 font-semibold">VPS.Town</a> 提供赞助。
</p>

<p class="text-xs text-neutral-500 dark:text-neutral-400">萌号 : <a href="https://icp.gov.moe/?keyword=20252033" target="_blank">20252033</a> <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500" href="https://icp.gov.moe/?keyword=20252033" target="_blank">查询</a></p>
<p class="text-xs text-neutral-500 dark:text-neutral-400">本网站代码已开源于 <a href="https://github.com/dahisea/blowfi" target="_blank">GitHub</a></p>